    body{
    background-color:#CC99FF;
    color:#696969;
    font-size:16px;
    }
    h1{
    text-align:center;
    color:#9900FF;
    }
    #calculator{
    color:#697999;
    font-weight:500;
    font-size:25px;
    text-align:left;
    }
    